@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Century+Gothic:wght@400&display=swap');

html, body {
  font-family: 'Century Gothic', sans-serif;
}


@keyframes float1 {
  0% { transform: translateY(0); }
  50% { transform: translateY(-2px); }
  100% { transform: translateY(0); }
}

@keyframes float2 {
  0% { transform: translateY(0); }
  50% { transform: translateY(-3px); }
  100% { transform: translateY(0); }
}

@keyframes float3 {
  0% { transform: translateY(0); }
  50% { transform: translateY(-1.5px); }
  100% { transform: translateY(0); }
}

.float1 {
  animation: float1 2s ease-in-out infinite;
}

.float2 {
  animation: float2 2s ease-in-out infinite;
}

.float3 {
  animation: float3 2s ease-in-out infinite;
}


@keyframes float {
  0% { transform: scale(1); }
  100% { transform: scale(1.05); }
}

@keyframes float-reverse {
  0% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

.hover-float {
  transition: transform 0.15s ease-in;
}

.hover-float:hover {
  animation: float 0.15s ease-in forwards;
}

.hover-float:not(:hover) {
  animation: float-reverse 0.15s ease-out forwards;
}
